@sidebar-header-height: 40px;
@sidebar-footer-height: 50px;

.db-sidebar-cont {
  height: 100%;
  border-right: 1px solid #ccc;

  .db-sidebar-header {
    text-align: center;
    height: @sidebar-header-height;
  }

  .db-sidebar-body {
    height: calc(100% - @sidebar-header-height - @sidebar-footer-height);
    padding: @db-less-padding 0;
  }
  .db-sidebar-footer {
    height: @sidebar-footer-height;
  }
}

/* logo styles */
.logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;

  .logo-asset {
    margin-right: 5px;
  }
}
