/* toggle theme styles */
.theme-toggle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .toggle-theme-icon {
    cursor: pointer;
  }
}